
*{
    background: rgb(170, 236, 238);
}

h1, .formulario{
    color: rgb(100, 100, 4);
    font-size: 3em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    background-color: rgb(226, 123, 27);
    display: flex;
    justify-content: space-around;
    position: center;
    box-sizing: content-box;
    padding: 10px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 15px #000;
    margin-left: 50px;
    margin-right: 50px;
    
    
}
p{
    font-size: 3em;
    color: rgb(22, 85, 19);
}
ul{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2em;
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
}
li{
    margin: 5px 15px 5px 15px  ;
    background-color: orange;
    padding: 30px;
    border: 2px solid black;
    border-radius: 10px;
    box-shadow: 2px 4px 15px #000;
}
input{
    display: block;
    position: center;
    text-align: center;
}

div{
    font-size: 30px;
    color: rgb(22, 85, 19);
}
.Name, .Last, .usr, .mail, .pass{
    padding: 10px 20px;
    position: center;
    width: 50vw;
    background-color: palevioletred;
    font-size: 1em;
}

.bt{
    padding: 10px 20px;
    font-size: 1em;
    margin-top: 20px;
    border-radius: 10px;
    background-color: blue;
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 100px;
    
}

.grid-item {
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
  }

  .grid-item img {
    width: 100%;
    height: auto;
  }